ol{
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

p{
  font-weight:bold;
  text-align: center;
}

header{
  font-weight:bold;
  text-align: center;
  font-size: x-large;
  font-color: #996644; /* Bootstrap primary color */
}
.merniac{
  font-weight:bold;
  text-align: center;
  font-size: x-large;
  font-color: #1726ad; /* Bootstrap primary color */
}