ol {
  font-size: small;
}

.scroll-container {
  height: 400px; /* Adjust height as needed */
  width: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd; /* Optional border for styling */
}

p {
  font-weight: bold;
  text-align: center;
}

header {
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  color: #996644;
}
.merniac {
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  color: #1726ad;
  margin: 20px;
}
